---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1> Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>

 <h3>DID YOU KNOW?!</h3>
 <p>He’s Faster Than Superman</p>
<div class="flipping cards"></div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
 <div class="flipper">
   <div class="front">
     <img src="images/flash-vs-superman.jpg" alt="">
   </div>
   <div class="back">
     <img src="images/superman.jpg" alt="">
   </div>
 </div>

<br>
<img src="images/flash.gif" alt="running flash" class="src text-center">